<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, "Home" %>

<div class="jumbotron text-center">
  <h1>Welcome to PoliRun</h1>

  <h2>
    Sign up or login to start using <%= link_to "PoliRun", '#'%>.
  </h2>

  <%= link_to "Sign up now!", '#', class:"btn btn-primary btn-lg", role:"button"%>
</div>