<% provide :title, "Home" %>

<h1>PoliRun</h1>

<% # the following line is the equivalent of <a href="#">About</a> %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Faq", faq_path %>